.cr-search-form {
  position: relative;
  height: 60px;

  &__icon-search {
    position: absolute;
    left: 20px;
  }

  &__input {
    /* stylelint-disable-next-line */
    color: '#A5A9BF';
    font-weight: 40px;
    padding-left: 50px !important;
    border-radius: 20x;
    border-color: white;
    width: 100px;
  }
}
