
$theme-colors: (
  "primary": #716DFF,
  "secondary": #A47DFF,
  "success": #A47DFF,
  "danger": #A47DFF,
  "warning": #ffd700,
  "info": #00c9ff
);

$enable-gradients: true;


$card-cap-bg: #fff;


// sidebar
$cr-sidebar-width: 277px;
